@page "/"

<div class="container" style="max-width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div>
        <img src="https://freelanceme.blob.core.windows.net/container1/55579_Ping.png" style="width: 100%";>
    </div>
        <br/>
    <br/>
    <div>
        <a class="btn btn-outline-primary" style="width: 100%" href="/register">
            <h1>Register</h1>
        </a>
    </div>
    <br/>
    <br/>
    <div>
        <a class="btn btn-outline-primary" style="width: 100%" href="/login">
            <h1>Login</h1>
        </a>
    </div>
</div>


@code {

}