@page "/rate/{phoneNumber}"
@inject CustomAuthStateProvider AuthStateProvider
@using System.Security.Claims
@using PAF.MobileApp.Models
@using PAF.MobileApp.Services
@inject IFreelancerService FreelanceMeService

<EditForm Model="@contract" OnValidSubmit="@Handler">

    <h1>Your Rating</h1>
    <select class="form-select" @bind="contract.Rating">
        <option selected disabled value="">Select a rating</option>
        <option value="1">1/5</option>
        <option value="2">2/5</option>
        <option value="3">3/5</option>
        <option value="4">4/5</option>
        <option value="5">5/5</option>
  </select>

    <h1>Amount Paid</h1>
    <input 
        type="number" 
        class="form-control" 
        min="10" 
        max="5000" 
        step="10"
        @bind="contract.AmountPaid">
    <h1>Hours Contracted</h1>
    <input 
        type="number" 
        class="form-control" 
        min="1" 
        max="100" 
        step="1" 
        @bind="contract.HoursContracted">

    <button 
        class="btn btn-primary" 
        style="width: 100%"
        type="submit">
        <h1>Complete contract</h1>
    </button>
</EditForm>

@code {
    private Contract contract = new();

    [Parameter]
    public string PhoneNumber { get; set; }

    private async Task Handler()
    {
        contract.ClientId = (await AuthStateProvider.GetAuthenticationStateAsync())
            .User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        contract.PhoneNumber = this.PhoneNumber;
        contract.DateCompleted = DateTime.Now;

        await FreelanceMeService.CompleteContract(contract);
    }

}       